In [ ]:
# python iterator

# what is iterator
# iterator is an object that contains a countable number of values
# iter() function is used to initialize an iterator object
# next() function is used for iteration

In [ ]:
# iterator vs iterable
# iterable is an object that can be iterated
# iterator is an object that can be iterated

In [ ]:
# example

my_list = [1, 2, 3, 4, 5]
my_iter = iter(my_list)

print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

1
2
3
4
5

In [ ]:
# string

my_string = "hello"
my_iter = iter(my_string)

print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

h
e
l
l
o

In [ ]:
# looping

my_list = [1, 2, 3, 4, 5]
for i in my_list:
  print(i)

1
2
3
4
5

In [ ]:
# string loop

my_string = "hello"
for i in my_string:
  print(i)

h
e
l
l
o

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self
  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
# stop iteration

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self
  def __next__(self):
    if self.a <= 100:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for i in myiter:
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100