In [1]:
# what is variable
# variable is a container there we store value

In [2]:
num  = 12
print(12)

12

In [3]:
# types of variable

# 1. Global variable
# 2. Local variable

# global variable
# Global variable can be accessed anywhere in the program

# local variable
# Local variable can only be accessed within the function

In [4]:
# variable naming
# variable name should not start with number
# variable name should not contain any special character
# variable name should not contain any space

In [6]:
# variable name should not start with number
num1 = 12
print(num1)

# variable name should not contain any special character
num@ = 12
print(num@)

# variable name should not contain any space
num m = 12
print(num m)

SyntaxError: invalid syntax (<ipython-input-6-17d4b9a5baf8>, line 6)