In [ ]:
# user input
x = input("Enter a number: ")

# print the number
print(x)

Enter a number: 12
12

In [ ]:
# input in different ways
x = int(input("Enter an integer: "))
y = float(input("Enter a floating point number: "))
z = input("Enter a string: ")

# print the numbers
print(x)
print(y)
print(z)

Enter an integer: a

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
# try exception
try:
  x = int(input("Enter an integer: "))
  y = float(input("Enter a floating point number: "))
  z = input("Enter a string: ")
  print(x)
  print(y)
  print(z)
except ValueError:
  print("Invalid input")

Enter an integer: a
Invalid input

In [ ]:
try:
  print(d)
except NameError:
  print("Variable 'd' is not defined")

Variable 'd' is not defined

In [ ]:
# else and finally
try:
  x = int(input("Enter an integer: "))
  y = float(input("Enter a floating point number: "))
  z = input("Enter a string: ")
  print(x)
  print(y)
  print(z)
except ValueError:
  print("Invalid input")
else:
  print("All good!")
finally:
  print("End of program")

Enter an integer: 1
Enter a floating point number: 1.2
Enter a string: rishu
1
1.2
rishu
All good!
End of program

In [ ]:
# raise
x = int(input("Enter an integer: "))
if x < 0:
  raise ValueError("bhai zero ke niche lunga")

Enter an integer: -10

ValueError: bhai zero ke niche lunga

In [ ]:
# regex
import re

text = "The rain in Spain"
x = re.search("The ", text)
if x:
  print("Yes! We have a match!")
else:
  print("No match")

Yes! We have a match!

In [ ]:
# regex meta characters

# []
# ^
# $
# .
# *
# +
# ?
# {}
# |
# ()
# \

In [ ]:
# findall
import re

text = "The rain in Spain"
x = re.findall("ai", text)
print(x)

['ai', 'ai']

In [ ]:
# split
import re

text = "The rain in Spain"
x = re.split("\s", text) # \s == space
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
# maxsplit
import re

text = "The rain in Spain"
x = re.split("\s", text,3)
print(x)

['The', 'rain', 'in', 'Spain']