In [2]:
# what is datatypes in python ???
# Datatypes in python is described as "the type of data that a variable holds"


# types of datatypes ]
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

In [3]:
# text type datatype : str (string)
x = "Hello World"
print(x)

Hello World

In [5]:
# Numeric Types : int , float , complex

# int : int is a numerical datatype by the  help of int we can store whole numbers (1,2,3,4,5,67,8,9)

# float : float is a numerical datatype by the help of float we can store decimal values (1.5 ,3.14,6.9)

# complex : complex is numerical datatype by the help of complex we can store complex numbers (1+2j , 3-5j)



# int
num = 10
print(num)


# float
flt = 3.14
print(flt)


# complex
cmplx = 1+2j
print(cmplx)

10
3.14
(1+2j)

In [12]:
#  sequence type : list , tuple , range

# what is sequence type ??
# Sequence type is a datatype that is used to store multiple values in a single variable.



# list
lst = [1,2,3,4,5,6,7,8,9,10]
print(lst)

details = [

    "sachin",
    "rahul",
    "virat",
    "dhoni",
    ]

print(details)

# tuple
tpl = (1,2,3,4,5,6,7,8,9,10)
print(tpl)

# range
rng = range(1,10)
print(rng)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['sachin', 'rahul', 'virat', 'dhoni']
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
range(1, 10)

In [13]:
# Mapping Type:	dict

# dict type is described as "a collection of key-value pairs"


# dict
dct = {
    "name" : "sachin",
    "age" : 23,
    "place" : "mumbai"
}

print(dct)

{'name': 'sachin', 'age': 23, 'place': 'mumbai'}

In [15]:
# # Set Types:	set, frozenset


# set ??
# what is set ??
# set is in python is a collection of values that are unordered and unindexed.


# set
st = {1,2,3,4,5,6,7,8,9,10}
print(st)

# # Mutable Set:	set
# mutable set is described as "a collection of values that can be changed or modified"

# example :
st = {1,2,3,4,5,6,7,8,9,10}
st.add(11)
print(st)



# # Immutable Set:
# Immutable set is described as "a collection of values that can not be changes or modified"
imst = frozenset([1,2,3,4,5,6,7,8,9,10])
print(imst)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [23]:
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

# boolean type
be = True
print(be)

# binary type

# bytes
byt = b"byteee"
print(byt)

# bytearray
btarr = bytearray(50)
print(btarr)


# memorie view
mv = memoryview(b"hello")
print(mv)

# none types

nn = None
print(nn)

True
b'byteee'
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
<memory at 0x7caa3ac81fc0>
None