In [56]:
# what is List in Python?
# List is an ordered collection of items. List can be indexed and sliced. List is mutable. List is iterable.
# what is meant by iterable in Python?
# An object is iterable if we can get an iterator from it. Most built-in containers in Python like: list, tuple, string etc. are iterables. We can get an iterator from them.

In [57]:
# syntax of list
listt = [1,2,3,4,5]
listt

[1, 2, 3, 4, 5]

In [58]:
# how to access list items
print(listt[0])
print(listt[1:4])

1
[2, 3, 4]

In [59]:
# list allow duplicate values
listt = [1,2,3,4,5,1,2,3,4,5]
listt

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [60]:
# List allows different data types
listt = [1,2,3,4,5,'a','b','c']
listt

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [61]:
type(listt)

list

In [62]:
# list constructors
# 1. list()

this_list = list((1,2,3,4,5))
print(this_list)

[1, 2, 3, 4, 5]

In [63]:
# change item in list
lst = list(("apple","banana","cherry"))
lst[1] = "mango"
lst

['apple', 'mango', 'cherry']

In [64]:
# change a range of item in list
lst = ["apple","banana","cherry","orange","kiwi","mango"]
lst[1:3] = ["blackcurrant","watermelon"]
lst

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [65]:
# insert method in lisr
lst = ["apple","banana","cherry"]
lst.insert(2,"watermelon")
lst

['apple', 'banana', 'watermelon', 'cherry']

In [66]:
# append method in list


lst = ["apple","banana","cherry"]
lst.append("orange")
lst

['apple', 'banana', 'cherry', 'orange']

In [67]:
# extend method in list
lst = ["apple","banana","cherry"]
lst2 = ["orange","mango","pineapple"]
lst.extend(lst2)
lst

['apple', 'banana', 'cherry', 'orange', 'mango', 'pineapple']

In [68]:
# add any iterable in list
lst = ["apple","banana","cherry"]
lst2 = ("orange","mango","pineapple")
lst.extend(lst2)
print(type(lst2))
print(type(lst))

<class 'tuple'>
<class 'list'>

In [69]:
# remove method in list
lst = ["apple","banana","cherry"]
lst.remove("banana")
lst

['apple', 'cherry']

In [70]:
# pop() method in list
lst = ["apple","banana","cherry"]
lst.pop(1)
lst

['apple', 'cherry']

In [71]:
# del keyword in list
lst = ["apple","banana","cherry"]
del lst

In [72]:
# clear() method in list
lst = ["apple","banana","cherry"]
lst.clear()
lst

[]

In [73]:
# loop in list
lst = ["apple","banana","cherry"]
for i in lst:
  print(i)

apple
banana
cherry

In [74]:
# list comprehension
lst = [x for x in "banana"]
print(lst)

['b', 'a', 'n', 'a', 'n', 'a']

In [75]:
# sort list
lst = [5, 1, 3, 2, 4]
lst.sort()
print(lst)


# sort in descending order
lst = [5, 1, 3, 2, 4]
lst.sort(reverse = True)
print(lst)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [76]:
def mf(n):
  return abs(n-50)

# what is absolute difference between n and 50

lst = [100,50,65,82,23]
lst.sort(key = mf)
print(lst)

[50, 65, 23, 82, 100]

In [77]:
# copy list
lst = [1,2,3,4,5]
lst2 = lst.copy()
print(lst2)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [78]:
# copy with list()
lst = [1,2,3,4,5]
lst2 = list(lst)
print(lst2)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [79]:
#join list
lst = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst3 = lst + lst2
print(lst3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
# count() method


lst = [1,2,3,4,5,1,2,3,4,5]
lst.count(1)

2