In [1]:
# what is tuple ??
# tuple are used to store multiple values in a single variable
# it is immutable
# it is ordered
# it is used to store multiple items in a single variable
# it is used to group related data

In [3]:
# tuple syntax

my_tuple = (1,2,3,4,5)
print(my_tuple)

print(type(my_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [5]:
# tuple construction

my_tuple = tuple([1,2,3,4,5])
print(my_tuple)

print(type(my_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [6]:
# how to access tuple elements

my_tuple = (1,2,3,4,5)

print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[3])
print(my_tuple[4])



# NEGETIVE INDEXING
print(my_tuple[-1])
print(my_tuple[-2])
print(my_tuple[-3])
print(my_tuple[-4])
print(my_tuple[-5])


# RANGE
print(my_tuple[1:4])

# REVERSE
print(my_tuple[::-1])

1
2
3
4
5
5
4
3
2
1
(2, 3, 4)
(5, 4, 3, 2, 1)

In [7]:
# if and if

my_tuple = (1,2,3,4,5)

if 2 in my_tuple:
    print("2 is present in my_tuple")
else:
    print("2 is not present in my_tuple")

2 is present in my_tuple

In [13]:
# Update tuple

x1 = ('apple', 'banana', 'cherry')
x = tuple(x1)
y = list(x)
y[1] = 'kiwi'
x = tuple(y)

print(x)

print(y)
print(type(y))

('apple', 'kiwi', 'cherry')
['apple', 'kiwi', 'cherry']
<class 'list'>

In [15]:
# append

x1 = ('apple', 'banana', 'cherry')
x = tuple(x1)
y = list(x)
y.append('orange')
x = tuple(y)

print(x)

('apple', 'banana', 'cherry', 'orange')

In [16]:
x = ('apple', 'banana', 'cherry')

y = ("orange" ,)
x += y

print(x)

('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')

In [19]:
# remove element

x1 = ('apple', 'banana', 'cherry')
x = tuple(x1)
y = list(x)
y.remove('banana')
x = tuple(y)

# print(x)

# delete
del x

print(x)

NameError: name 'x' is not defined

In [20]:
# unpack tuple

x = ('apple', 'banana', 'cherry')
a, b, c = x
print(a)
print(b)
print(c)

apple
banana
cherry

In [22]:
# asterisk
# what is asterisk
# If the numbe of variable is less than number of elements in tuple then we can use asterisk

x = ('apple', 'cherry')
a, *b, c = x
print(a)
print(b)
print(c)

apple
[]
cherry

In [23]:
# loop in tuple

x = ('apple', 'banana', 'cherry')
for i in x:
    print(i)

apple
banana
cherry

In [24]:
# joins two tuple

x = ('a', 'b', 'c')
y = (1, 2, 3)

z = x + y
print(z)

('a', 'b', 'c', 1, 2, 3)

In [26]:
# count()

x = ('apple', 'banana', 'cherry', 'cherry')
y = x.count('cherry')
print(y)

# index()

x = ('apple', 'banana', 'cherry')
y = x.index('banana')
print(y)

2
1