In [1]:
# what is sets ??
# sets are used to store multiple items in a single variable
# sets are unordered
# sets are unindexed
# sets are unchangeable

In [3]:
# syntax
# myset = set()
# myset = {}
myset = {"mango", "banana", "apple"}
print(myset)
print(type(myset))

{'mango', 'banana', 'apple'}
<class 'set'>

In [4]:
# in set true and 1 are same but in list false and 0 are same

myset = {True, 1, 2}
print(myset)

{True, 2}

In [5]:

myset = {True, 1, 2, "mango"}
print(myset)

{True, 2, 'mango'}

In [6]:
# length
myset = {True, 1, 2, "mango"}
print(len(myset))

3

In [7]:
# set constructor
myset = set(("mango", "banana", "apple"))
print(myset)

{'mango', 'banana', 'apple'}

In [8]:
# for and in
x = {"mango", "banana", "apple"}
for i in x:
    print(i)

mango
banana
apple

In [9]:
x = {1, 2, 3, 4, 5}
print(1 in x)

True

In [12]:
# add and  update

x = {"apple", "banana", "cherry"}
x.add("orange")
# print(x)

{'microsoft', 'cherry', 'banana', 'apple', 'google'}

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "ZOHO"}
x.update(y)
print(x)

# explaination about update

{'microsoft', 'cherry', 'banana', 'apple', 'google', 'ZOHO'}

In [16]:
# remove and discard
x = {"apple", "banana", "cherry"}
x.remove("apple")
print(x)


x.discard("banana")
print(x)

{'cherry', 'banana'}
{'cherry'}

In [18]:
# join method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

# use | operator
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x | y
print(z)

{'microsoft', 'cherry', 'banana', 'apple', 'google'}
{'microsoft', 'cherry', 'banana', 'apple', 'google'}

In [20]:
# intersection method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

# &
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x & y
print(z)

{'apple'}
{'apple'}

In [21]:
# difference method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x - y
print(z)

{'cherry', 'banana'}
{'cherry', 'banana'}

In [22]:
# symmetric difference method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x ^ y
print(z)

{'microsoft', 'google', 'cherry', 'banana'}
{'microsoft', 'google', 'cherry', 'banana'}

In [ ]:
P