In [1]:
# operator
# what is operator
# Operator is an operation that takes one or more operands and returns a result.
# how to use operator
# print(12+8)
print(12+8)

20

In [2]:
# types of operators

#  1. Arithmetic operators
#  2. Assignment operators
#  3. Comparison operators
#  4. Logical operators
#  5. Identity operators
#  6. Membership operators
#  7. Bitwise operators

In [3]:
# Arithmetic operators
# Airthmetic operators are used to perform mathematical operations
# example
# +
# -
# /
# *
# %
# **
# //

In [4]:
# example on airthmeticc operator

print(12+8)
print(12-8)
print(12*8)
print(12/8)
print(12%8)
print(12**8) # using for power
print(12//8) # using for floor division
# what is floor division
# floor division is the division that returns the quotient in which the digits after the decimal point are removed.

20
4
96
1.5
4
429981696
1

In [9]:
# Assignment operators
# Assignment operators are used to assign values to variables.
# example
# =
# +=
# -=
# *=
# /=
# %=
# **=
# //=


num1 = 10
num2 = 20

num1 += 2 # num1 = num1 + 2
num2 -= 2 # num2 = num2 - 2
print(num1)
print(num2)

12
18
24
9.0
0
81.0
0
1.0

In [10]:
num1 *= 2 # num1 = num1 * 2
num2 /= 2 # num2 = num2 / 2
print(num1)
print(num2)

0
0.5

In [12]:
num1 %= 2 # num1 = num1 % 2
num2 **= 2 # num2 = num2 ** 2
print(num1)
print(num2)

0
0.0625

In [13]:
num1 //= 2 # num1 = num1 // 2
num2 %= 2  # num1 = num1 % 2
print(num1)
print(num2)

0
0.0625

In [14]:
# Comparison Operators
# Comparison operators are used to compare two values.
# example
# ==
# !=
# >
# <
# >=
# <=

In [17]:
# examples of comparison operators
print(12 == 12)  # eqaul
print(12 != 12) # not equal
print(12 > 12)  # greater than
print(12 < 12) # less than
print(12 >= 12) # greater than or equal
print(12 <= 12) # less than or equal

True
False
False
False
True
True

In [19]:
# Logical operators
# Logical operators are used to combine conditional statements.
# example
# and
# or
# not

# Example of logical operators
print(12 > 12 and 12 < 12) # and returns true if both the conditions are true
print(12 > 12 or 12 == 12) # or returns true if one of the conditions is true
print(not 12 > 12) # not returns true if the condition is false

False
True
True

In [20]:
# Identity operators
# Identity operators are used to compare the objects.
# example
# is
# is not

# exaple of identity operators
print(12 is 12) # is returns true if both the objects are same
print(12 is not 12) # is not returns true if both the objects are not same

True
False

<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-20-bb226aa2b9d6>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(12 is 12) # is returns true if both the objects are same
<ipython-input-20-bb226aa2b9d6>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(12 is not 12) # is not returns true if both the objects are not same

In [21]:
# Membership operators
# Membership operators are used to test if a sequence is presented in an object.
# example
# in
# not in

# example of membership operators
print(12 in [12, 13, 14]) # in returns true if the sequence is present in the object
print(12 not in [12, 13, 14]) # not in returns true if the sequence is not present in the object

True
False

In [22]:
# Bitwise operator

# Bitwise operators are used to perform bitwise calculations on integers.
# example
# &
# |
# ^
# ~
# <<
# >>


# example

print(12 & 8) # bitwise and #  Sets each bit to 1 if both bits are 1
print(12 | 8) # bitwise or #  Sets each bit to 1 if one of two bits is 1
print(12 ^ 8) # bitwise xor
print(~12) # bitwise not
print(12 << 8) # bitwise left shift
print(12 >> 8) # bitwise right shift

8
12
4
-13
3072
0